<div
  class="modal fade"
  id="portfolioModal"
  tabindex="-1"
  aria-labelledby="portfolioModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content border-0 shadow-lg">
      <div class="modal-header bg-primary text-white text-center">
        <h2 class="modal-title w-100">🚧 Em Manutenção 🚧</h2>
        <button
          type="button"
          class="btn-close btn-close-white p-3"
          data-bs-dismiss="modal"
          aria-label="Fechar"
        ></button>
      </div>
      <div class="modal-body text-center p-4">
        <p class="fs-4 fw-semibold">
          Este portfólio está em manutenção. Mas você pode acessar meu outro
          portfólio clicando no botão abaixo ou click no X para continuar.
        </p>
        <a
          href="https://portifolioangelrafa.vercel.app/"
          class="btn btn-primary btn-lg fw-bold px-4 py-2"
          >Acessar Portfólio</a
        >
      </div>
    </div>
  </div>
</div>
