<div class="d-flex justify-content-center align-items-center ">
  <div class="container text-center py-5">
    <h1 class="display-1 text-danger">404</h1>
    <h2 class="h2 mb-4">Página não encontrada</h2>
    <p class="lead">
      Desculpe, mas a página que você está procurando não existe ou foi
      removida.
    </p>
    <p>Por favor, verifique o URL ou volte para a <strong> Home </strong>.</p>

    <!-- Botão para voltar para a Home -->
    <button class="btn btn-primary mt-4" (click)="goHome()">
      Voltar para a Home
    </button>
  </div>
</div>
