/* Quando o mouse passar sobre o link, a cor muda para a cor primária do Bootstrap */
.hover-text:hover {
  color: var(
    --bs-light
  ) !important; /* Usa a variável da cor primária do Bootstrap */
}
.navbar-brand i {
  font-size: 1.5rem;
  color: #ffffff;
}
