<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <!-- Marca com ícone -->
    <a class="navbar-brand d-flex align-items-center" href="home">
      <i class="bi bi-person-circle me-2"></i>
      <!-- Ícone de perfil -->
      Home
    </a>

    <!-- Botão de Toggle para Menu em dispositivos móveis -->
    <button
      class="navbar-toggler"
      type="button"
      (click)="toggleMenu()"
      [attr.aria-expanded]="!isMenuCollapsed"
      aria-label="Alternar navegação"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Menu de Navegação -->
    <div [class.collapse]="isMenuCollapsed" class="navbar-collapse">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a
            class="nav-link text-light hover-text py-1 px-2 m-1 border rounded-2"
            style="--bs-focus-ring-color: rgba(var(--bs-success-rgb), 0.25)"
            href="/sobre"
          >
            Sobre
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-light hover-text py-1 px-2 m-1 border rounded-2"
            style="--bs-focus-ring-color: rgba(var(--bs-success-rgb), 0.25)"
            href="/habilidades"
          >
            Habilidades
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-light hover-text py-1 px-2 m-1 border rounded-2"
            style="--bs-focus-ring-color: rgba(var(--bs-success-rgb), 0.25)"
            href="/github"
          >
            GitHub
          </a>
        </li>

        <li class="nav-item">
          <a
            class="nav-link text-light hover-text py-1 px-2 m-1 border rounded-2"
            style="--bs-focus-ring-color: rgba(var(--bs-success-rgb), 0.25)"
            href="/contato"
          >
            Contato
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
