/* Define a altura fixa para o carrossel */
.carousel-container {
  height: 250px; /* Altura fixa para o carrossel */
  overflow: hidden; /* Garante que o conteúdo não ultrapasse o contêiner */
}

/* Ajusta o tamanho das imagens e vídeos */
.carousel-inner img,
.carousel-inner video {
  width: 20vw;
  height: 15vw;
  object-fit: cover; /* Mantém a proporção e cobre o contêiner */
}

/* Adiciona margem inferior ao título do card */
.card-title {
  margin-bottom: 1rem;
}
