<section class="container text-center">
  <!-- Imagem -->
  <img
    src="https://avatars.githubusercontent.com/u/154349177?s=400&u=9d96577fc470a30aa7b3c595d355f9c293f952b8&v=4"
    alt="Sua Imagem"
    class="img-fluid rounded-circle shadow-lg mb-4"
    style="
      max-width: 300px;
      border: 5px solid #2d87f0;
      transition: all 0.3s ease;
    "
  />

  <!-- Título -->
  <h1 class="my-3 text-primary" style="font-family: 'Roboto', sans-serif">
    Angel Rafael
  </h1>

  <!-- Subtítulo -->
  <h4 class="text-muted" style="font-style: italic">Desenvolvedor Web</h4>
  <!-- Informações -->
  <div class="mt-4 px-3">
    <p style="font-size: 1.1rem; line-height: 1.6">
      Sou apaixonado por tecnologia, especialmente por como a programação pode
      transformar ideias em realidade. Tenho experiência principalmente em desenvolvimento
      front-end, mas também com back-end em menor quantidade.
    </p>

    <p style="font-size: 1.1rem; line-height: 1.6">
      Meu foco é desenvolver algo novo que busque sempre resolver, amenizar um
      problema ou desejo de alguem, buscando soluções eficientes e elegantes
      para os problemas dos meus contratantes.
    </p>

    <h3 style="font-size: 1.1rem; line-height: 1.6">
      Projetos tanto para clientes particulares quanto para
      empresas.
    </h3>

    <!-- Projetos Empresariais e Particulares -->
    <div class="d-flex justify-content-around mt-4">
      <!-- Projetos Empresariais -->
      <div class="text-start">
        <h3 class="text-primary">Empresariais</h3>
        <ul style="font-size: 1.1rem; line-height: 1.6">
          <li>ERP para gestão de provedores de internet.</li>
          <li>Lojas simples WEB.</li>
          <li>ERP para gestão de loja de peças.</li>
        </ul>
      </div>

      <!-- Projetos Particulares -->
      <div class="text-start">
        <h3 class="text-primary">Particulares</h3>
        <ul style="font-size: 1.1rem; line-height: 1.6">
          <li>Páginas de portfólio pessoal.</li>
          <li>Blogs.</li>
          <li>Lojas simples WEB.</li>
        </ul>
      </div>
    </div>
  </div>
</section>
